@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
    font-family: 'Montserrat', sans-serif !important;
}

.uk-border-circle {
    height: 100px;
    width: 100px !important;
}

#intro {
    letter-spacing: 3px !important;
}

#intro, #intro h1, #quotation p, #quotation footer {
    font-family: 'Montserrat', sans-serif !important;
    color: #fff !important;
    text-shadow: 0 0 5px #000;
} 

.text-orange {
    color: orange !important;
}

#about > div > div > div > blockquote {
    padding-top: 15% !important;
}

.uk-offcanvas-bar {
    width: 100% !important;
}

#menu-list li {
    padding: 10px 0;
}

.text-cursive {
    font-family: 'Pacifico', cursive !important;
}

