@import 'https://fonts.googleapis.com/css?family=Raleway:400,600,800';

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-shadow: rgba(0,0,0,0.2) 0 0 1px;
}

body {
    background-color: #dae3e7 !important; 
}

.btn-outline {
    background-color: transparent !important;
    color: inherit !important;
    transition: all .5s !important;
    text-shadow: 1px 1px 1px #000 !important;
}

.btn-outline:hover {
    background-color: #000 !important;
}

.btn {
    border-radius: 0px !important;
}

.dl-resume {
    margin-top: 75px;
    margin-bottom: 50px;
}

.jumbotron {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.bg {
    border-top: 5px solid #343838;
    position: relative;
    background: none;
    border-bottom: 1px solid #e5e5e5;
    color: #fff !important;
    z-index: 0;
}

.bg:after {
    content: "";
    background-image: url('../img/deepvoid.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center; 
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.avatar {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 180px;
    width: 180px;
    border: 7px solid #fff;
}

.introduction {
    margin-top: 10%;
    font-size: 20px !important;
    font-weight: 800 !important;
    letter-spacing: 1.3px;
}

.sub-introduction {
    font-size: 14px !important;
    margin-top: 20px;
    line-height: 160%;
}

.email {
    color: #E24324;
    text-decoration: none !important;
}

.highlight-link {
    color: #E24324;
    text-decoration: none !important;
}

.panel {
    border-radius: 0 !important;
}

.caption {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 800 !important;
}

.sub-caption {
    font-weight: 400 !important;
    margin-left: 20px;
}

.company-title {
    margin-left: 20px;
}
/* MILESTONE */

.work {
    margin-top:20px;
    position: relative;
    padding: 1em 0;
    list-style: none;
}

.work:before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 30px;
    top: 0;
    content: ' ';
    display: block !important;
    background:  linear-gradient(to bottom, #ffffff 0%,#ccc 7%,#ccc 89%,#ffffff 100%);
}

.work li {
    width: 100%;
    z-index: 2;
    position: relative;
    float: left;
}

.work .year {
    width: 10%;
    background: #fff;
    padding: 10px;
    font-size: 1em;
    font-weight: 600 !important;
    display: inline-block;
    text-align: center;
}

@media (min-width: 1200px) {
    .work .description {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .work .description {
        width: 87%;
    }
}

@media (min-width: 768px) {
    .work .description {
        width: 85%;
    }
}

@media (min-width: 500px) {
    .work .description {
        width: 85%;
    }
}

.work .description {
    width: 80%;
    display: inline-block;
    background-color: #dae3e7 !important;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.work .description p {
    font-size: 1em;
    margin-top: 5px;
    padding: 0;
}

.work .description:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    left: -16px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: #dae3e7;
    border-width: 8px;
    pointer-events: none;
}

.external-link:link,
.external-link:visited,
.external-link:active {
    margin-left: 20px;
    color: #E24324;
    text-decoration: none;
    font-weight: 600 !important;
}

.external-link:hover {
    color: #aa13ce;
}
